/* Background Color */
body {
  background: linear-gradient[to bottom, #fffdf3, fff2d1];
  font-family: Arial, sans-serif;
  color: #2c1f1f;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}


/* Main Logo Styling */
.main-logo {
  width: 200px;
  margin: 40px auto 10px;
  display: block;
  filter: drop-shadow(0 0 15px#ff69b4);
  animation: shimmer 3s infinite;
  transition: transform 0.3s ease;
  z-index: 2;
}

/* Welcome Section */
.welcome {
  font-size:2.5rem;
  font-weight: 800;
  margin-top: 1rem;
}

.welcome h1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #e91e63;
}

.welcome p {
  font-size: 1.2rem;
  color: #444;
}

/* Services Cloud-Like Box */
.services-cloud {
  background-color: #ffc0cb;
  border-radius: 40px;
  padding: 2rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.3);
}

.services-cloud h2 {
  color: #000;
  font-size: 2rem;
  font-weight: bold
}
.services-cloud ul{
  list-style: none;
  padding: 0;
  font-size: 1.1rem;
  line-heigt: 2;
}
/* Wig Card Gallery */
.barbie-gallery {
  padding: 2rem;
  background-color: #fffaf5;
  border-top: 4px solid hotpink;
  text-align: center;
  .barbie-gallery h2 {
    font-size: 2rem;
    color: #e91e63;
    font-weight: bold;
}
.wig-card {
  background: #fff;
  border: 2px solid gold;
  border-radius: 12px;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(255, 105, 180, 0.2);
}

.wig-card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px pink;
}

.wig-card h4 {
  color: #d81b60;
  font-size: 1.3rem;
}

.price {
  font-weight: bold;
  color: gold;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  background-color: hotpink;
  color: white;
  padding: 8px 12px;
  border-radius: 10px
  text-decoration: none;
}  




  

  
